body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background: url('../images/first-website-header.png') center center;
  background-repeat: no-repeat;
  background-size: 1200px auto;
  width: 100%;
  height: 350px;
  margin-bottom: auto;
}

header section.title {
  max-width: 800px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

header h1 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  margin: 0 10px;
  position: absolute;
  bottom: 30px;
}

section.title h1 span.name {
  display: block;
  font-size: 150%;
}

article {
  margin: 0 10px;
}

article h1 {
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 150%;
}

article h2 {
  padding-top: 15px;
}

article h3 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  padding-top: 0;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: #FFF;
  background-color: #222;
  font-size: x-large;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  position: relative;
}

blockquote::before {
  font-size: 250%;
  content: '”';
  transform: rotate(180deg);
  position: absolute;
  top: -55px;
  left: 0;
}

article p:first-of-type {
  margin-top: 40px;
}

article p {
  color: #222;
}

ul {
  margin-bottom: 30px;
}

hr {
  border: none;
  height: 4px;
  background-color: #222;
}
