body {
  font-family: 'Sen', sans-serif;
  background-color: turquoise;
}

.container {
  background-color: floralwhite;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 300%;
  color: grey;
  margin: 0 auto 40px auto;
  text-align: center;
}

.new-todo {
  display: flex;
}

input {
  width: 100%;
  background-color: #FFF;
  border-top: 2px solid grey;
  border-right: none;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  padding: 10px;
  font-size: 150%;
}

button {
  min-width: 70px;
  background-color: violet;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 150%;
}

button:hover {
  background-color: yellowgreen;
}

button:active {
  background-color: darkviolet;
}

ul {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  width: 100%;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

li {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li span {
  width: 100%;
  font-size: 150%;
  cursor: pointer;
}

li img {
  filter: invert(42%);
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
