* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-image: url("assets/background.png");
    background-repeat: repeat;
    width: 100%;
}

header {
    display: block;
    background-color: #333333;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: consolas, courier;
}

main {
    color: #226441;
}

nav {
    display: flex;
    align-items: center; /* align vertical */
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav img {
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li a {
    text-decoration: underline;
    color: #ff0099;
    text-transform: uppercase;
}

nav li {
    float: left;
    padding: 5px;
    
}

.container {
    padding: 5px 10%;
    margin: 0 auto;
}

section.intro h2 {
    color: #ff0099;
}

section.intro::after,
section.wiki::after{
    content:"...";
    display: block;
    text-align: center;
    letter-spacing: 5px;
}

section.wiki h2 {
    text-align: center
}

section.wiki h3 {
    margin-top: 2rem;
}

footer {
    padding-bottom: 30px;
}
